<div class="page-container">
    <app-header></app-header>
    <div class="container-fluid tm-content-container">
      <div class="position-relative page-width-1 page-right tm-border-top tm-border-bottom">
        <div class="circle intro-circle-1"></div>
        <div class="circle intro-circle-2"></div>
        <div class="circle intro-circle-3"></div>
        <div class="circle intro-circle-4"></div>
        <div class="tm-bg-dark content-pad">
          <h2 class="mb-4" style="color: white;">About Me</h2>
          <p class="mb-4" style="color: white;">
            As a travel writer, I am frequently invited on press trips with a fixed schedule; but, after that is completed, I frequently extend my stay to explore the place at my leisure. When I'm not working, though, I try to spend at least two weeks in a different city (sometimes, for at least a month). After that, I'd compose travel guides and itineraries based on my personal experiences as well as the information I'd gathered. MY GOAL: With my third global passport, I want to visit every country on the planet – but I'm not in any hurry to do it. I'm just grateful that I'm already living my goal and that I can assist others in doing so as well!
          </p>
        </div>              
      </div>
    </div>
    <app-footer></app-footer>
</div>

